#kira:hover {
  /** src: url(https://allthepics.net/image/kira-bleh.ykmag); **/
}

#charSection {
  display: relative;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
