#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#avatar {
  background-color: white;
}
.badgeDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0);
  transition-duration: 0.3s;
  border-radius: 5px;
}

.badgeDisplay:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

#badges {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.badgeName {
  margin-top: 10px;
  text-align: center;
}

#stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
