#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#musicContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.musicButton {
  border: none;
  border-radius: 5px;
  height: 100%;
  padding: 15% 25%;
  margin: 10%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicButton:hover {
  transform: scale(1.1);
  transition: all 0.6s;
  background-color: rgb(34, 2, 2);
  color: white;
}
.sidebar {
  padding: 15px 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 14%;
  background-color: rgba(255, 255, 255, 0.795);
  color: rgb(34, 2, 2);
}

#socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#socials img {
  margin: 5% 0%;
  transition-duration: 0.3s;
}

#socials img:hover {
  transform: scale(1.15, 1.15);
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutme {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.136);
  padding: 0% 10%;
  margin-bottom: 5%;
}

#aboutme td {
  width: 50%;
}

#cheeseBox {
  position: relative;
  left: 150px;
  top: 30px;
}
#cheesedText {
  position: absolute;
  top: 20px;
  left: 50px;
  color: black;
}

#computer {
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 2;
  position: relative;
}

#click {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  width: 83%;
  height: 55%;
  overflow: hidden;
}

#click:hover {
  cursor:
    url("assets/pointer.png") 20 20,
    auto;
}

#click img {
  height: 100%;
  width: 100%;
}

#gameSection {
  position: relative;
}

#charSection img {
  height: 10rem;
  width: auto;
}
@media (max-width: 1024px) {
  #cheeseBox {
    left: 10;
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 425px) {
  .about {
    width: 100vw;
  }

  #cheeseBox {
    display: none;
  }

  .relative img {
    width: 120%;
    height: auto;
  }

  #mobile {
    display: block;
  }

  #welcome {
    display: none;
  }

  #mainwrapper {
    margin: 0px;
  }
}
