#think {
  transition-duration: 2s;
}

#think:hover {
  transform: rotateY(180deg);
}

.linkButton {
  text-align: center;
  font-weight: bolder;
  margin: 5% 0%;
  padding: 5%;
  border-radius: 5px;
  margin-top: auto;
  background-color: #ffffff;
  color: #220202;
}

.linkButton:hover {
  transition: all 0.5s;
  background-color: #220202;
  color: #ffffff;
}

.carousel {
  margin: 0px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
  anchor-name: --carousel;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(*) {
  border-radius: 100px;
  height: 55px;
  width: 55px;
  background-color: rgba(255, 255, 255, 0.407);
  color: rgb(255, 255, 255);
  display: inline;
}

.carousel::scroll-button(*):hover {
  background-color: rgba(255, 255, 255, 0.232);
  color: rgb(255, 255, 255);
  display: inline;
}

.carousel::scroll-button(*):disabled {
  background-color: rgba(255, 255, 255, 0.232);
  color: black;
}
.carousel::scroll-button(left) {
  content: "◄";
  position: relative;
  top: -16em;
  left: -5%;
}
.carousel::scroll-button(right) {
  content: "►";
  position: relative;
  top: -20em;
  left: 98%;
}

.projectCard {
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.37);
  margin: 1%;
  border-radius: 8px;
  flex: 0 0 20em;
  height: 25em;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  overflow: hidden;
  justify-content: start;
}

.projectCard:hover {
  border-radius: 15px;
  transform: scale(1.05, 1.05);
  transition: transform 0.5s;
}

#projects {
  margin: 0 auto;
}

#projectText * {
  text-align: center;
}
