#think {
  transition-duration: 2s;
}

#think:hover {
  transform: rotateY(180deg);
}

.carousel {
  margin: auto;
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
  anchor-name: --carousel;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(*) {
  border-radius: 100px;
  height: 55px;
  width: 55px;
  background-color: white;
}
.carousel::scroll-button(left) {
  content: "<";
  position: relative;
}
.carousel::scroll-button(right) {
  content: ">";
  position: relative;
}
.projectCard {
  padding: 10px;
  background-color: grey;
  margin: 15px;
  border-radius: 8px;
  flex: 0 0 20em;
  height: 25em;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}

.projectCard:hover {
  transform: scale(1.1, 1.1);
}

#projects {
  margin: 0 auto;
}
