#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  background-color: rgba(255, 255, 255, 0.795);
  color: rgb(34, 2, 2);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cheeseBox {
  position: relative;
  left: 150px;
  top: 30px;
}
#cheesedText {
  position: absolute;
  top: 20px;
  left: 50px;
  color: black;
}

@media (max-width: 1024px) {
  #cheeseBox {
    left: 10;
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 425px) {
  .about {
    width: 100vw;
  }
}
